<%- include('partials/header') -%>

    <div class="d-flex justify-content-center vh-100 align-items-center">
        <div class="d-grid gap-2 col-4 mx-auto" style="height: 350px">

            <a class="btn btn-info" href="/league/premier" role="button">Premier League</a>
            <a class="btn btn-warning" href="league/laliga" role="button">LaLiga</a>
            <a class="btn btn-danger" href="league/bundesliga" role="button">Bundesliga</a>
            <a class="btn btn-primary" href="league/seriea" role="button">Serie A</a>
            <a class="btn btn-dark" href="league/ligue1" role="button">Ligue 1</a>
            <a class="btn btn-light" href="league/mls" role="button">MLS</a>
            <a class="btn btn-success" href="league/ligamx" role="button">Liga MX</a>
        </div>
    </div>


<%- include('partials/footer') -%>